@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

//Variables
$padding: 20px;
$margin: 20px;

// Sass Maps
$colors: (
  "primary-dark": hsl(179, 62%, 43%),
  "primary-light": lighten(#2ab2af, 10%),
  "primary-btn": hsl(71, 73%, 54%),
  "accent-light": hsl(204, 43%, 93%),
  "accent-dark": hsl(218, 22%, 67%),
  "accent-med": lighten(hsl(218, 22%, 67%), 15%),
);

// Functions
@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

// Mixins
$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: Karla;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;

  @include desktop {
    overflow: hidden;
  }
  

  div#top__div {
    padding: $padding;

    @include desktop {
      height: 40vh;
      }

    h4 {
      color: color(primary-dark);
      font-weight: bold;
      font-size: 1.2rem;
      margin: $margin;
    }

    h5 {
      color: color(primary-btn);
      font-size: 1rem;
      margin: $margin;
    }

    p {
      font-size: 1rem;
      color: color(accent-dark);
      margin: $margin;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      height: 55vh;
      }

    .mid__item {
      @include desktop {
        flex-grow: 1;
      }

      background: color(primary-dark);
      color: color(accent-light);
      padding: $padding;
  
      h4 {
        font-weight: bold;
        font-size: 1.2rem;
        margin: $margin;
      }

      .digit__container{
        display: flex;
        flex-direction: row;
        margin: $margin;

        .digits {
          font-weight: 700;
          font-size: 1.5rem;
          padding-right: 2.5%;
        }
    
        .digits__desc {
          font-size: 1rem;
          color: color(accent-med);
        }
      }
      
  
      p {
        font-size: 1rem;
        margin: $margin;
      }
  
      a {
        text-align: center;
        text-decoration: none;
        background-color: color(primary-btn);
        border-radius: 3%;
        color: color(accent-light);
        display: block;
        text-align: center;
        margin: $margin;
        padding: $padding * 0.65;
        font-size: 1rem;
        box-shadow: 1px 5px 5px hsl(0, 0%, 40%);
      }

      a:hover {
        background-color: darken(color(primary-btn), 10%);
      }
  
    }
  
    .bottom__item {
      @include desktop {
        flex-grow: 1;
      }

      background: color(primary-light);
      color: color(accent-light);
      padding: $padding;
  
      h4 {
        font-weight: bold;
        font-size: 1.2rem;
        margin: $margin;
      }
  
      p {
        color: color(accent-light);
        font-size: 1rem;
        margin: $margin;
      }
  
      // @include desktop {
      //   float: right;
      //   width: 45%;
      //   //height: 50%;
      // }
    }

  }
  
}
